 *{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 /* body{
     overflow: hidden;
 } */

 .navbar{
    background-color: #EF5350!important ;
    
}
.navbar-brand , .nav-link{
    font-size: 14px !important;
    color: white !important;
    
}
.navbar-brand:hover, .nav-link:hover{
    color: black !important;
}
.dropdown-item:hover{
    background-color: #EF5350!important ;
    color: white !important;
}
.main2 > .navbar{
    margin-top: 50px !important;
    background-color: white !important; 

}

/* login styling */

.main3{
    margin-top: 14px !important;
    background-color: rgb(238, 232, 232);
    height: 453px;
}
.container1{
    display: flex;
    justify-content: center;
}

.col1{
    
    padding: 34px;
}
.col2{
   color: rgb(104, 102, 102);
    padding: 47px;
}

.shadow-sm{
    margin: auto;
    height: 280px;
    width: 800px;
    
}
.form-group{
    width: 400px;
    
}
.btn-primary1{
    width: 230px !important;
    /* border-radius: 0% !important; */
    background-color: #EF5350 !important;
    border: none !important;
    color: white !important;
}
.btn-primary2{
    width: 230px !important;
    /* border-radius: 0% !important; */
    background-color: rgb(65, 65, 238)!important;
    border: none !important;
    color: white !important;
    margin-top: 10px;
}
.btn-danger{
    width: 230px !important;
    margin-top: 10px;
    /* border-radius: 0% !important; */
}
.container3{
    margin-left: 500px !important;
    margin-top: -175px;
    display: flex;
    flex-direction: column;
    
}
.col6{
    margin-top: 5px;  
    color: rgb(104, 102, 102);
}
i{
    float: left;
    margin-top: 5px;

}
.footer2{
    /* position: fixed; */
    background-color: rgb(58, 57, 57);
    color: white;
    bottom: 0;
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center !important;
   /* align-items: center; */
   
   }
   
.main4{
    height: 280px !important;
}

.footer1{
    /* position: fixed; */
    width: 100%;
    /* margin-top: 10px; */
    padding: 30px;
    /* color: rgb(61, 61, 61); */
}
/* .main5 > p{
    margin-top: 5px !important;
} */
 


@media only screen and (max-width: 150px) {
     img {
     
     width: 134px;   
     }
  }
@media only screen and (max-width: 153px) {
    img {
    
    width: 134px;   
   }
 }
 @media only screen and (max-width: 155px) {
    img {
    
    width: 134px;   
   }
 }

 @media only screen and (max-width: 768px) {
    .main3{
    height: 500px;
    width: 100%;   
    background-color: rgb(238, 232, 232);
   }
 }
 @media only screen and (max-width: 346px) {
    .main3{
    height: 580px;
    width: 100%;   
    background-color: rgb(238, 232, 232);
   }
 }
 @media only screen and (max-width: 210px) {
    .main3{
    height: 600px;
    width: 100%;   
    background-color: rgb(238, 232, 232);
   }
 }


 /* signup styling */

 .main6{
    background-color: rgb(238, 232, 232);
    height: 599px;
 }
 .shadow-sm1{
    margin: auto;
    height: 435px;
    width: 830px;
    
}
.form-group1{
    width: 300px;
   line-height: 10px;
    
}
.container4{
    margin-left: 500px !important;
    margin-top: -330px;
    display: flex;
    flex-direction: column;
    
}
.col8{
    margin-top: 2px;  
    color: rgb(104, 102, 102);
}
.btn-primary3{
    width: 300px !important;
    /* border-radius: 0% !important; */
    background-color: #EF5350 !important;
    border: none !important;
    color: white !important;
    margin-top:  30px;
}
.btn-primary4{
    width: 300px !important;
    /* border-radius: 0% !important; */
    background-color: rgb(65, 65, 238)!important;
    border: none !important;
    color: white !important;
    margin-top: 10px;
}
.btn-danger-1{
    width: 300px !important;
    margin-top: 10px;
    background-color: rgb(238, 38, 38) !important;
    border: none !important;
    color: white !important;
    /* border-radius: 0% !important; */
}

/* index styling */

.main7{
margin-top: 5px;
}
.main8{
    background-color: rgb(240, 234, 234);
    height: 30px;
}
.main9{
    background-color: rgb(240, 234, 234);
    height: 1150px;
}

.alert-danger{
    /* margin-top: 30px; */
    margin-left: 25px !important;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px !important;
    /* background-color: #EF5350 !important; */
    background-color: rgb(240, 234, 234) !important;
    color: rgb(29, 28, 28) !important;
    border-radius: 0 !important;
    border: none !important;
    
}
.cardsDesign{
    /* display: flex;
    justify-content: space-around; */
    margin-left: 35px !important;
    margin-right: 55px !important;
    
}

.card {
    height: 490px;
    width: 293px;
    margin-top: 10px;
}
.btn-primary5{
    background-color: #EF5350 !important;
    width: 100%;
    color: white !important;
    /* font-weight: bold !important; */
}
.heading1 {
    margin-top: 40px;
}
.card-text1{
    font-size: 23px;
    color: #EF5350 !important;
    line-height: 25px !important;
    font-weight: bold;
}
.card-text2 {
   line-height: 5px !important;
   font-size: 13px;
   color: rgb(104, 102, 102) !important;
}
.btn-primary6 {
    
    /* border: 5px solid red !important; */
    background-color: rgb(248, 36, 36) !important;
    border-radius: 30px !important;
    padding: 3px !important;
    color: white !important;
    text-align: center;
    line-height: 12px !important;
}
.card-text3{
    font-size: 23px;
    color: black !important;
    line-height: 50px !important;
    font-weight: bold;
}



@media only screen and (max-width: 984px) {
    .main9{
    height: 2300px;
    
    background-color: rgb(240, 234, 234);
   }
 }
 @media only screen and (max-width: 739px) {
    .main9{
    height: 4200px;
    
    background-color: rgb(240, 234, 234);
   }
 }
 @media only screen and (max-width: 614px) {
    .main9{
    height: 4350px;
    
    background-color: rgb(240, 234, 234);
   }
 }
 @media only screen and (max-width: 272px) {
    .main9{
    height: 4400px;
    
    background-color: rgb(240, 234, 234);
   }
 }
 @media only screen and (max-width: 212px) {
    .main9{
    height: 4450px;
    
    background-color: rgb(240, 234, 234);
   }
 }
 

 /* watch styling */

 .main10{
     margin-top: 30px;
    background-color: rgb(240, 234, 234);
    height: 1700px;
 }
 .heading2 > h1{
     padding: 30px;
     font-family: serif;
     font-style: oblique;
     text-align: center;
     font-size: 55px !important;
 }
 .watchDesign{
    margin-left: 35px !important;
    margin-right: 55px !important;
 }

 /* cosmetics styling */

 .main11{
    margin-top: 30px;
   background-color: rgb(240, 234, 234);
   height: 1700px;
}
.heading3 > h1{
    padding: 30px;
    font-family: serif;
    font-style: oblique;
    text-align: center;
    font-size: 55px !important;
    /* animation: animate__slideInLeft;
    animation-duration: 2s; */
}
.cosmeticsDesign{
    margin-left: 35px !important;
    margin-right: 55px !important;
 }
.card:hover{
    border-color: #EF5350 !important;
    box-shadow: 1px 1px 5px #EF5350 !important;
    
}

 /* contact styling */

 .carousel-caption > h1{
font-size: 70px !important;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif !important;
}
.carousel-caption{
   
    position: absolute; 
    top: 125px !important; 
    left: -300px !important;
}
.main12{
    margin-top: 10px !important;
}
.main13{
    /* margin-top: 50px; */
    background-color: rgb(240, 234, 234);
    height: 650px;
}
.heading4 > h3{
    padding: 60px !important;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 20px !important; */
}

/* .message > form{
   margin-top: 10px !important;
} */
 .form-group2{
     margin-top: -30px !important;
    margin-left: 60px !important;
    margin-right: 60px !important;
    /* padding: 30px !important; */
}
.btn-primary7{
    margin-top: 20px !important;
    margin-right: 60px !important;
    margin-left: 60px !important;
    background-color: #EF5350 !important;
    color: white !important;
    width: 120px !important;
}
.fa-chevron-up{
    color: #EF5350 !important;
   font-size: 27px !important;
   border: 1px solid grey !important;
   padding: 10px !important;
}
.fixed-bottom{
    position: absolute;
    bottom: 40px !important;
    left:   1182px !important;
}

/* cart styling */

.main14{
    margin-top: 20px !important;
    background-color: rgb(240, 234, 234);
    height: 446.5px;
   
}
.main4 > h3{
    margin-top: 40px !important;
}